name: deployment pipeline

on:
  push:
    tags:
      - '*'

jobs:
  update_manifest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: |
          #!/bin/sh

          set -xe

          echo "deployment"
          CURRENT_TAG=$(git tag --points-at HEAD)

          curl -L -O https://github.com/mikefarah/yq/releases/download/v4.48.1/yq_linux_amd64.tar.gz
          tar -xzf yq_linux_amd64.tar.gz
          mv yq /usr/local/bin/

          la -la
