name: deployment pipeline

on:
  push:
    tags:
    - '*'

jobs:
  update_manifest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: |
          #!/bin/sh

          set -xe

          echo "deployment"
          git tag --points-at HEAD
