name: build pipeline

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.API_TOKEN }}
      - uses: bridgecrewio/checkov-action@v12
        with:
          framework: dockerfile
          dockerfile_path: .
          check: CKV_DOCKER_1,CKV_DOCKER_7,CKV_DOCKER_8,CKV_DOCKER_10
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/${{ github.actor }}/poc-devsecops:${{ github.sha }}
