name: quality scan pipeline

on: push

jobs:
  sast:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - run: |
          #!/bin/sh

          set -xe

          pip install uv

          uv venv
          source .venv/bin/activate
          uv sync --only-dev

          coverage run -m pytest app
          coverage xml

      - uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '21'

      - run: |
          #!/bin/sh

          set -xe

          export SONAR_SCANNER_VERSION=7.2.0.5079
          export SONAR_SCANNER_HOME=$HOME/.sonar/sonar-scanner-$SONAR_SCANNER_VERSION-linux-x64
          curl --create-dirs -sSLo $HOME/.sonar/sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux-x64.zip
          unzip -o $HOME/.sonar/sonar-scanner.zip -d $HOME/.sonar/
          export PATH=$SONAR_SCANNER_HOME/bin:$PATH

          sonar-scanner -Dsonar.organization=warapong-pj -Dsonar.projectKey=warapong-pj_poc-devsecops -Dsonar.token=${{ secrets.SONAR_TOKEN }} -Dsonar.python.coverage.reportPaths=coverage.xml

  sca:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: |
          #!/bin/sh

          set -xe

          sudo apt-get install -y wget apt-transport-https gnupg lsb-release
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install -y trivy
          wget https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl
          sudo mv html.tpl /usr/local/bin/

          trivy fs --format template --template "@/usr/local/bin/html.tpl" -o report-sca.html .
          cat report-sca.html
