name: test pipeline

on: push

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - run: |
          #!/bin/sh

          set -e

          pip install uv

          uv venv
          uv sync

          coverage run -m pytest app
          coverage report
